<h2 class='page-header'>Sign-in</h2>

<a class='button' href=<%= new_user_url %>>Sign up!</a>

<form class='form' action="<%= session_url %>" method="post">
    <input 
        type="hidden" 
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <p>
        <label for='new_user_email'>Email</label>
        <input id='new_user_email' type="text" name="user[email]">
    </p>

    <p>
    <label for='new_user_password'>Password</label>
    <input id='new_user_password' type="password" name="user[password]">
    </p>
    
    <input type="submit">
</form>